<section class="flex flex-grow items-stretch flex-col">
  <div class="flex flex-grow flex-shrink items-center">
    <div class="w-full lg:w-1/2 mx-auto bg-white-transparent text-center rounded-lg px-3 py-6 my-6">
      <div class="mb-4 text-lg">
        <h1 class="font-bold"><%= t('.title') %></h1>
      </div>
      <div class="mb-6 text-xl text-grey-darker">
        <%= t('.this_is_a_test') %>
      </div>
      <div class="flex flex-wrap justify-center">
        <%= button_to(t('.start_test'), root_url,
                      class: 'tw-button leading-normal button-orange text-lg lg:text-2xl mr-4 mb-3') %>
        <%= link_to(t('.read_more'), root_url,
                      class: 'tw-button bg-blue border-blue hover:bg-blue-dark hover:border-blue-dark text-white text-lg lg:text-2xl mb-3') %>
      </div>
    </div>
  </div>
</section>
